@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --light-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 21px;
  background: #ef483c;
  color: #ffffff;
  border: 0;
  font-size: 17px;
}

.leavebtn {
  cursor: pointer;
  border-radius: 15px;
  padding: 5px 21px;
  background: #ef483c;
  color: #ffffff;
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}